@using sReportsV2.DTOs.Field.DataOut

@model FieldDataOut

<form class="designer-item-form" id="fieldGeneralInfoForm">
    <div class="width-100">
        <div class="organization-tabs">
            <div data-id="fieldGeneralInfoContainer" class="organization-tab active field-info-tab">
                @sReportsV2.Cache.Resources.TextLanguage.FieldGeneralInfo
            </div>
            <div data-id="fieldDependencyContainer" class="@(Model == null ? "organization-tab-disabled" : "organization-tab") field-info-tab">
                @sReportsV2.Cache.Resources.TextLanguage.DependencyConfiguration
            </div>
        </div>
    </div>

    <div class="identifier-line" style=" margin-bottom: 14px;"></div>

    <div id="fieldGeneralInfoContainer" class="field-info-cont">
        @await Html.PartialAsync("~/Views/Form/DragAndDrop/FieldInfoGeneralForm.cshtml", Model)
    </div>

    <div id="fieldDependencyContainer" class="field-info-cont" style="display:none">
        @await Html.PartialAsync("~/Views/Form/DragAndDrop/Dependency/FieldInfoDependencyConfiguration.cshtml", Model)
    </div>

    <div class="button-container">
        <div class="cancel-button cancel-modal-action">
            @sReportsV2.Cache.Resources.TextLanguage.Back
        </div>
        @if (!ViewBag.ReadOnly)
        {
            <div class="submit-button" id="submit-field-info">@sReportsV2.Cache.Resources.TextLanguage.UpdateData</div>
        }
    </div>
</form>

<script>
    if (typeof parentDependencies == 'undefined') {
        var possibleParentFields = [];
    } else {
        possibleParentFields = [];
    }
    $(document).ready(function () {
        $('#helpContent').ckeditor();
        validateLink();
        validateIfAnyFieldNullFlavorChecked();
        initializeValidator();
        validateIfHasError();

        $('.field-info-tab').on('click', function (e) {
            fieldInfoTabClicked($(this));
        });

        possibleParentFields = getPossibleParentFields();
        initDependencyComponent();
    });
</script>