@using sReportsV2.Common.Constants;
@using sReportsV2.DTOs.CodeEntry.DataOut;
@using sReportsV2.Common.Extensions;
@using sReportsV2.DTOs.DTOs.TrialManagement;
@using sReportsV2.DTOs.Common.DataOut;
@using sReportsV2.DTOs.Common;
@using sReportsV2.DTOs.Pagination;

@model PaginationDataOut<UserDataOut, DataIn>

@{
    var userCookieData = ViewBag.UserCookieData;
    string activeLanguage = userCookieData.ActiveLanguage;
    bool hasAddPersonnelPerm = userCookieData.UserHasPermission(PermissionNames.AddPatientListUsers, ModuleNames.Patients);
    bool hasDeletePersonnelPerm = userCookieData.UserHasPermission(PermissionNames.RemovePatientListUsers, ModuleNames.Patients);
    bool showPersonnelToAdd = ViewBag.Container != null && ViewBag.Container == "SelectedPersonnelTable" ? false : true;
    bool readOnly = ((bool?)ViewBag.ReadOnly).GetValueOrDefault();

    // Customize pagination
    ViewBag.ShowPageSizeSelector = false;
    ViewBag.CustomChangePageJSFunc = "changePatientListPersonnelPage";
    ViewBag.PreventPushHistoryState = true;

    List<CodeDataOut> occupations = ViewBag.Occupations as List<CodeDataOut>;
    List<UserDataOut> personnels = Model != null && Model.Data != null ? Model.Data : new List<UserDataOut>();
}

<input type="text" id="patientListPersonnelTableId" value="@(showPersonnelToAdd ? "PersonnelToSelectTable" : "SelectedPersonnelTable")" hidden/>
<input type="text" id="patientListPersonnelCount" value="@(Model != null ? Model.Count : 0)" hidden/>

<div class="table-responsive">
    <table class="table table-striped table-border">
        <thead class="color-header-important">
            <tr class="table-header-row">
                <th id="OrganizationId" class="color-header-important align-middle" style="border-bottom: unset;border-top: unset;">@sReportsV2.Cache.Resources.TextLanguage.Organizations.ToUpper()</th>
                <th id="PersonnelTeamId" class="color-header-important text-nowrap align-middle" style="border-bottom: unset;border-top: unset;">@sReportsV2.Cache.Resources.TextLanguage.Personnel_Teams.ToUpper()</th>
                <th id="Occupation" class="sort-arrow color-header-important align-middle" style="border-bottom: unset;border-top: unset;" onclick="sortTable('Occupation')">@sReportsV2.Cache.Resources.TextLanguage.Occupation.ToUpper()</th>
                <th id="Username" class="sort-arrow color-header-important align-middle" style="border-bottom: unset;border-top: unset;" onclick="sortTable('Username')">@sReportsV2.Cache.Resources.TextLanguage.User.ToUpper()</th>
                @if (showPersonnelToAdd && hasAddPersonnelPerm)
                {
                    <th style="border-bottom: unset;border-top: unset;" class="d-flex text-nowrap color-header-important align-middle">
                        <button id="checkAllBtn" type="button" class="btn btn-create font-size-12px" onclick="checkAllPersonnels(event)">
                            <span class="select-deselect-text">@sReportsV2.Cache.Resources.TextLanguage.Select_All</span>
                        </button>
                        <button id="uncheckAllBtn" type="button" class="btn btn-create font-size-12px d-none" onclick="uncheckAllPersonnels(event)">
                            <span class="select-deselect-text">@sReportsV2.Cache.Resources.TextLanguage.Deselect_All</span>
                        </button>
                    </th>
                }
                else
                {
                    <th style="border-bottom: unset; border-top: unset; background-color: #f0f1f1;"></th>
                }
            </tr>
        </thead>
        <tbody>

            @foreach (UserDataOut personnel in personnels)
            {
                <tr id="row-@personnel.Id" class="table-content-row row-patient-preview row-shown">
                    <td class="trial-row-organizations">@personnel.GetorganizationListFormatted()</td>
                    <td class="trial-row-teams"> @personnel.GetPersonnelTeamNamesFormatted() </td>
                    <td class="trial-row-occupation"> @personnel.GetPersonnelOccupation(activeLanguage, occupations) </td>
                    <td class="trial-row-user">@personnel.ToString()</td>

                    @if (showPersonnelToAdd)
                    {
                        <td class="px-3 py-1 text-center">
                            @if (hasAddPersonnelPerm)
                            {
                                <div class="d-inline-block">
                                    <label class="form-checkbox-label">
                                        <input value="@personnel.Id" class="form-checkbox-field form-checkbox-table" type="checkbox" />
                                        <i class="form-checkbox-button table-checkbox dynamic-checkbox-size"></i>
                                    </label>
                                </div>
                            }
                        </td>
                    }
                    else if (!readOnly)
                    {
                        RenderLastCell(hasDeletePersonnelPerm, personnel.Id, userCookieData.Id);
                    }
                    else
                    {
                        <td></td>
                    }

                </tr>
            }
        </tbody>
    </table>
    @if (personnels.Count == 0)
    {
        <div class="no-result-content">
            <img alt="" class="margin-" src="/css/img/icons/no_results.svg">
            <br>
            <div class="no-result-text">@sReportsV2.Cache.Resources.TextLanguage.NoResultFound</div>
        </div>
    }
    @if (personnels.Count > 0)
    {
        <div class="outer-paging">
            <div class="pager-container">
                @await Html.PartialAsync("Pagination")
            </div>
        </div>
    }
</div>

@functions {
    private void RenderLastCell(bool hasDeletePerm, int id, int activeUserId)
    {
        <td>
            @{ RenderDropdownMenu(hasDeletePerm, id, activeUserId); }
        </td>
    }

    private void RenderDropdownMenu(bool hasDeletePerm, int id, int activeUserId)
    {
        if (hasDeletePerm && id != activeUserId)
        {
            <div class="dropdown show">
                <a class="dropdown-button" href="#" data-toggle="dropdown" role="button" id="dropdownMenuLink-@id" aria-haspopup="true" aria-expanded="false">
                    <img alt="" class="dots" src="/css/img/icons/3dots.png">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-@id">
                    @if (hasDeletePerm)
                    {
                        <a class="dropdown-item" href="#" onclick="removePersonnelsFromPatientList(event, '@id')"><img alt="" class="edit-svg-size" src="/css/img/icons/remove.svg">@sReportsV2.Cache.Resources.TextLanguage.Remove</a>
                    }
                </div>
            </div>
        }
    }
}