@using sReportsV2.Common.Helpers
@model sReportsV2.DTOs.ThesaurusEntry.DataOut.ThesaurusEntryDataOut
@{
    var thesaurusId = Model != null ? Model.Id : 0;
    var backUrl = thesaurusId > 0 ? string.Format("/ThesaurusGlobal/PreviewThesaurus?Id={0}&ReturnUrl={1}", thesaurusId, ViewBag.ReturlUrl) : "/";
    ViewBag.Title = "Contribute to translation";
}
<input type="hidden" id="id" value="@thesaurusId" />
<div class="thesaurus-preview">
    <div class="tp-title">
        <b>@(Model != null ? Model.GetPreferredTermByTranslationOrDefault(Model.PreferredLanguage) : "")</b>
        <div class="contribute-btn" onclick="contributeToTranslation(event, @thesaurusId, '@backUrl')">
            <img alt="" src="/css/img/icons/SwissOpenOncology/translation.svg"> Contribute to translation
        </div>
        <div class="thesaurus-edit-btn" onclick="goToEdit('@Model.Id')">
            <img alt="" src="/css/img/icons/SwissOpenOncology/edit.svg"> Edit
        </div>
    </div>
    <div class="preview-content">
        @await Html.PartialAsync("~/Views/ThesaurusGlobal/Shared/ThesaurusTree.cshtml", Model)

        <div class="preview-translations">
            @await Html.PartialAsync("~/Views/ThesaurusGlobal/Create/ContributeToTranslationForm.cshtml", Model)
        </div>

    </div>
</div>

@Html.Raw(ScriptHelper.RenderScript(Url.Content("~/js/sReports/common/tableCommon.js"), "", ""))
@Html.Raw(ScriptHelper.RenderScript(Url.Content("~/js/SwissOpenOncology/thesaurusPreview.js"), "", ""))