@using sReportsV2.Common.Helpers
@{
    Layout = "";
    string missingPermission = ViewContext.RouteData.Values["id"] as string;
    string customExplanation = ViewBag.CustomExplanation != null ? ViewBag.CustomExplanation : "";
    string missingPermissionMsg = string.IsNullOrEmpty(missingPermission) ? customExplanation : string.Format("({0} : {1}, {2} : {3})", @sReportsV2.Cache.Resources.TextLanguage.Permission, missingPermission.Split('_')[0], @sReportsV2.Cache.Resources.TextLanguage.Module, missingPermission.Split('_')[1]) ;
}
<!DOCTYPE html>
<html>
<head>
    @ScriptHelper.RenderHeadMetadata(true)
    <title>Error - @sReportsV2.Common.Constants.ResourceTypes.SoftwareName by weMedoo</title>
    @ScriptHelper.RenderStylesheet("https://use.fontawesome.com/releases/v5.6.1/css/all.css", "sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP", "anonymous")
    @ScriptHelper.RenderStylesheet(Url.Content("/css/libs/bootstrap-4.3.1/bootstrap.min.css"))
    @ScriptHelper.RenderStylesheet(Url.Content("/css/login.css"))
    @ScriptHelper.RenderStylesheet(Url.Content("/css/newMain.css"))

</head>
<body class="login-background">
    <div class="container error-container">
        <div>
            403 - @sReportsV2.Cache.Resources.TextLanguage.Access_Denied
        </div>
        <div class="error-message">@(ViewBag.CustomExplanation != null ? "" : @sReportsV2.Cache.Resources.TextLanguage.Access_Denied_Message) @missingPermissionMsg</div>
        <div class="back-to-home" onclick="backToHome()">@sReportsV2.Cache.Resources.TextLanguage.Back_To_Home_Page</div>
    </div>

    <script>
        function backToHome() {
            window.location.href = `/Home/Index`;
        }
    </script>
</body>
</html>
