@using sReportsV2.Common.Extensions
@using sReportsV2.DTOs.CodeEntry.DataOut
@{
    var userCookieData = ViewBag.UserCookieData;
    string activeLanguage = userCookieData.ActiveLanguage;
    List<CodeDataOut> states = ViewBag.ThesaurusStates as List<CodeDataOut>;
}

<div class="d-flex">
    <div class="d-flex main-filter mb-2">
        <div class="filter-item advanced-filter-item  margin-right-10 advanced-max-width">
            <div class="label filter-label">
                @sReportsV2.Cache.Resources.TextLanguage.Preferred_term
            </div>
            <input type="text" class="filter-input" id="PreferredTermTemp">
        </div>
        <div class="filter-item advanced-filter-item  margin-right-10 advanced-max-width">
            <div class="label filter-label">
                O40MTID
            </div>
            <input type="text" class="filter-input" id="O40MtIdTemp" value="@(ViewBag.FilterData!= null && ViewBag.FilterData.Id > 0 ? ViewBag.FilterData.Id : "")">
        </div>
        <div class="advanced-filter-item filter-item  margin-right-10 advanced-max-width">
            <div class="label filter-label">
                @sReportsV2.Cache.Resources.TextLanguage.State_
            </div>
            <select class="filter-input arrow-select" id="StateTemp">
                <option value=""> @sReportsV2.Cache.Resources.TextLanguage.SelectOption</option>
                @foreach (var option in ObjectExtension.FilterDataSource(states, readOnlyMode: true).Take(4))
                {
                    <option id="@option.Id" @(ViewBag.FilterData != null && ViewBag.FilterData.StateCD != null && ViewBag.FilterData.StateCD == option.Id ? "selected" : "")>
                        @option.Thesaurus.GetPreferredTermByTranslationOrDefault(activeLanguage)
                    </option>
                }
            </select>
        </div>
        <div class="advanced-filter-item filter-item border-0 margin-top-15  margin-right-10">
            <div class="button-wrapper-filter button-filter" id="submitFilterButton">
                <button class="btn btn-filter-primary w-100 h-100 float-right" onclick="mainFilter()"> @sReportsV2.Cache.Resources.TextLanguage.Filter</button>
            </div>
        </div>
        <div id="advancedId" class="advanced-filter-item filter-item border-0 margin-top-15" style="margin-right:unset;">
            <div class="button-wrapper-filter" id="submitFilterButton">
                <button class="btn w-100 h-100 float-right font-size-14 btn-advanced-link" onclick="advancedFilterModal(event)"><img alt="" class="display-none" src="/css/img/icons/advanced_filter.svg">@sReportsV2.Cache.Resources.TextLanguage.Advanced_filter</button>
            </div>
        </div>

    </div>
</div>
<div id="filterElements" class="d-flex">

</div>

