@using System.Globalization
@using sReportsV2.DTOs.CodeEntry.DataOut;
@using sReportsV2.Common.Extensions;

<form id="advancedFilterForm" name="AdvancedFilterForm" onsubmit="return false">
    <div class="modal fade" id="advancedFilterModal" role="dialog" aria-labelledby="advancedFilterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content modal-content-advanced">
                <div class="float-right filter-close-btn">
                    <img alt="" class="close-modal" src="/css/img/icons/close_black.svg">
                </div>

                <div class="modal-body modal-body-advanced" id="advancedFilterModalContent">
                    <div class="d-flex advanced-filter-header">
                        <img alt="" class="mr-3" src="/css/img/icons/advanced_filter.svg"> @sReportsV2.Cache.Resources.TextLanguage.Advanced_filter
                    </div>
                    <div class="d-flex margin-top-10">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.Family
                            </div>
                            <input type="text" class="filter-input" id="family" value="@(ViewBag.FilterData!= null ? ViewBag.FilterData.Family : "")">
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.Given
                            </div>
                            <input type="text" class="filter-input" id="given" value="@(ViewBag.FilterData != null ? ViewBag.FilterData.Given : "")">
                        </div>
                    </div>


                    <div class="d-flex margin-top-20">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.BirthDate
                            </div>
                            <input type="hidden" id="birthDateDefault" value="@(ViewBag.FilterData != null && ViewBag.FilterData.BirthDate!= null ? ViewBag.FilterData.BirthDate.ToString("s") : "")">
                            @await Html.PartialAsync("~/Views/Shared/DateInput.cshtml", new sReportsV2.DTOs.Common.DateInputDTO()
                            {
                                InputAttributes = new Dictionary<object, object> {
                                    { "class", "filter-input" },
                                    { "id", "birthDate" },
                                    { "name", "birthDate" },
                                    { "value", ViewBag.FilterData != null && ViewBag.FilterData.BirthDate != null ? ViewBag.FilterData.BirthDate.ToString(ViewBag.DateFormat, CultureInfo.InvariantCulture) : "" }
                                },
                                InputBtnAttributes = new Dictionary<object, object> {
                                    { "class", "date-img" },
                                    { @Html.DateDisabled(readOnly: false), null }
                                },
                            })
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.Gender
                            </div>
                            <select class="filter-input arrow-select" id="gender">
                                <option value=""> @sReportsV2.Cache.Resources.TextLanguage.SelectOption</option>
                                @foreach (var option in ObjectExtension.FilterDataSource(ViewBag.Genders, readOnlyMode: true))
                                {
                                    <option id="@option.Id"> @option.Thesaurus.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="d-flex margin-top-20">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.Type
                            </div>
                            <select class="filter-input arrow-select" id="typeCD">
                                <option value=""> @sReportsV2.Cache.Resources.TextLanguage.SelectOption</option>
                                @foreach (var option in ObjectExtension.FilterDataSource(ViewBag.EncounterTypes, readOnlyMode: true))
                                {
                                    <option id="@option.Id"> @option.Thesaurus.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage)</option>
                                }
                            </select>
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.Status
                            </div>
                            <select class="filter-input arrow-select" id="statusCD">
                                <option value=""> @sReportsV2.Cache.Resources.TextLanguage.SelectOption</option>
                                @foreach (var option in ObjectExtension.FilterDataSource(ViewBag.EncounterStatuses, readOnlyMode: true))
                                {
                                    <option id="@option.Id"> @option.Thesaurus.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="d-flex margin-top-20">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.Admission_Date
                            </div>
                            <input type="hidden" id="admissionDateDefault" value="@(ViewBag.FilterData != null && ViewBag.FilterData.AdmissionDate != null ? ViewBag.FilterData.AdmissionDate.ToString("s") : "")">
                            @await Html.PartialAsync("~/Views/Shared/DateInput.cshtml", new sReportsV2.DTOs.Common.DateInputDTO()
                            {
                                InputAttributes = new Dictionary<object, object> {
                                    { "class", "filter-input" },
                                    { "id", "admissionDate" },
                                    { "name", "admissionDate" },
                                    { "value", ViewBag.FilterData != null && ViewBag.FilterData.AdmissionDate != null ? ViewBag.FilterData.AdmissionDate.ToString(ViewBag.DateFormat, CultureInfo.InvariantCulture) : "" }
                                },
                                InputBtnAttributes = new Dictionary<object, object> {
                                    { "class", "date-img" },
                                    { @Html.DateDisabled(readOnly: false), null }
                                },
                            })
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.Discharge_Date
                            </div>
                            <input type="hidden" id="dischargeDateDefault" value="@(ViewBag.FilterData != null && ViewBag.FilterData.DischargeDate != null ? ViewBag.FilterData.DischargeDate.ToString("s") : "")">
                            @await Html.PartialAsync("~/Views/Shared/DateInput.cshtml", new sReportsV2.DTOs.Common.DateInputDTO()
                            {
                                InputAttributes = new Dictionary<object, object> {
                                    { "class", "filter-input" },
                                    { "id", "dischargeDate" },
                                    { "name", "dischargeDate" },
                                    { "value", ViewBag.FilterData != null && ViewBag.FilterData.DischargeDate != null ? ViewBag.FilterData.DischargeDate.ToString(ViewBag.DateFormat, CultureInfo.InvariantCulture) : "" }
                                },
                                InputBtnAttributes = new Dictionary<object, object> {
                                    { "class", "date-img" },
                                    { @Html.DateDisabled(readOnly: false), null }
                                },
                            })
                        </div>
                    </div>

                    <div class="d-flex margin-top-20">
                        <div class="advanced-filter-item filter-item w-50 padding-right-20">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.EpisodeOfCareType
                            </div>
                            <select class="filter-input arrow-select" id="episodeOfCareTypeCD">
                                <option value=""> @sReportsV2.Cache.Resources.TextLanguage.SelectOption</option>
                                @foreach (var option in ObjectExtension.FilterDataSource(ViewBag.EpisodeOfCareTypes, readOnlyMode: true))
                                {
                                    <option id="@option.Id"> @option.Thesaurus.GetPreferredTermByTranslationOrDefault(ViewBag.UserCookieData.ActiveLanguage)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="advanced-filter-line">

                    </div>

                    <div class="d-flex mt-3 position-relative margin-top-20">
                        <div class="button-wrapper-filter filter-button float-right" id="submitFilterButton">
                            <button class="btn btn-filter-primary w-100 h-100" onclick="advanceFilter()"> @sReportsV2.Cache.Resources.TextLanguage.Filter</button>
                        </div>
                        <div class="button-wrapper-filter cancel-filter-btn float-right" id="close">
                            <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                                @sReportsV2.Cache.Resources.TextLanguage.Cancel
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        initCodeSelect2(hasParamInUrl('CountryCD'), getParamFromUrl('CountryCD'), "countryCD", "country", "Country", 'advancedFilterModal');
    });
</script>