@using sReportsV2.Common.Constants;
@using sReportsV2.Common.Helpers
@using sReportsV2.DTOs.CodeEntry.DataOut;

@{
    var userCookieData = ViewBag.UserCookieData;
    ViewBag.Title = @sReportsV2.Cache.Resources.TextLanguage.Encounters;
}
@Html.PartialAsync("Breadcrumb", new ViewDataDictionary(ViewData) { { "level1", @sReportsV2.Cache.Resources.TextLanguage.Encounters }, { "activeLevel", 1 } })

<div class="table-container border-0">
    <div class="header header-new">
        @sReportsV2.Cache.Resources.TextLanguage.Encounters
    </div>
    @Html.PartialAsync("EncounterFilterGroup")
    <div id="encounterTableContainer">

    </div>
</div>
@Html.PartialAsync("AdvancedFilterModal")

<script>
    var defaultFilter = @Html.Raw(Json.Serialize(ViewBag.FilterData));
</script>

@Html.Raw(ScriptHelper.RenderBundle("js/encounterGetAll-bundle.min.js"))