@using sReportsV2.Common.Helpers
@{
    Layout = "";
}
@model sReportsV2.DTOs.User.DataIn.UserLoginDataIn
<!DOCTYPE html>
<html>
<head>
    @ScriptHelper.RenderHeadMetadata(true)
    <title>Forgot Password - @sReportsV2.Common.Constants.ResourceTypes.SoftwareName by weMedoo</title>
    @Html.Raw(ScriptHelper.RenderBundle("js/jquery-bundle.min.js"))
    @ScriptHelper.RenderStylesheet("https://use.fontawesome.com/releases/v5.6.1/css/all.css", "sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP", "anonymous")
    @ScriptHelper.RenderStylesheet(Url.Content("/css/libs/bootstrap-4.3.1/bootstrap.min.css"))
    @ScriptHelper.RenderStylesheet(Url.Content("/css/login.css"))
    @Html.Raw(ScriptHelper.RenderBundle("js/userGetAll-bundle.min.js"))
    @ScriptHelper.RenderStylesheet("https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css", "", "")
    @Html.Raw(ScriptHelper.RenderScript(Url.Content("~/js/libs/toastr-2.1.1/toastr.min.js"), "", ""));
</head>
<body class="login-background">
    <div class="container">
        <div class="login">

            <div class="login-text">
                Please enter your email:
            </div>

            <div class="login-group margin-bottom-12">
                <div>
                    <label class="login-input-label forgot-password-label">EMAIL ADDRESS</label>
                </div>
                <input type="text" class="login-input forgot-password-input email" name="userEmail" id="userEmail">
                <div class="login-error">
                </div>
            </div>
            <button class="login-button" id="sendButton" onclick="generatePassword(event, $(`#userEmail`).val(),true)">Generate new password</button>
        </div>
    </div>

    @Html.Raw(ScriptHelper.RenderScript(Url.Content("~/js/libs/jquery-3.7.1/jquery-3.7.1.slim.min.js"), "", ""));
    @Html.Raw(ScriptHelper.RenderScript(Url.Content("~/js/libs/popper-1.16.1/umd/popper.min.js"), "", ""));
    @Html.Raw(ScriptHelper.RenderScript(Url.Content("~/js/libs/bootstrap-4.3.1/bootstrap.min.js"), "", ""));
    @Html.Raw(ScriptHelper.RenderScript(Url.Content("~/js/sReports/userLogin/user.js"), "", ""))
</body>
</html >
