@using sReportsV2.DTOs.Field.DataOut;
@model FieldLinkDataOut

<fieldset class="form-input">
    <div class="filter-label form-label-size d-inline-block">
        <span class="comment-target-item" id="@Model.Id">  @Html.Raw(Model.FullLabel) </span>
    </div>
    <div class="repetitive-field filter-input d-inline-block pe-none">
        <a href="@(Model != null && Model.Link != null ? Model.Link : "")" target="_blank" rel="noopener" @ViewBag.Disabled>
            @(Model != null && Model.Link != null ? Model.Link : "")
        </a>
    </div>
</fieldset>
<a class="add-comment-link comment-block-hide" onclick="addComment('@Model.Id')">

    <img alt="" class="add-comment-icon" src="/css/img/icons/add_comment_1.svg">
</a>